<center><h1 style=font-size:50px>Python Basic Data Types & Operations &#128013;</h1></center>

Data types are the classification or categorization of data items. Data types represent a kind of value which determines what operations can be performed on that data. Numeric, non-numeric and Boolean (true/false) data are the most used data types:

A Data Type describes the characteristic of a variable.

### Python has six standard Data Types:

- Numbers
- String
- List
- Tuple
- Set
- Dictionary

*N.B In order to find to which class the variable belongs to you can use `type()` function.*

## 1. Numbers
In Numbers, there are mainly 3 types which include `Integer`, `Float`, and `Complex`.

In [1]:
a = 52
b = 5.2
c = 10 + 14j
print(a, "is of type", type(a))
print(b, "is of type", type(b))
print(c, "is of type", type(c))

52 is of type <class 'int'>
5.2 is of type <class 'float'>
(10+14j) is of type <class 'complex'>

### Boolean Type, Boolean Context, and “Truthiness”
Python 3 provides a Boolean data type. Objects of Boolean type may have one of two values, 
`True` or `False`:

`Expressions in Python` are often evaluated in `Boolean context`, meaning they are interpreted to represent `truth` or `falsehood`. A value that is `True` in Boolean context is sometimes said to be *truthy*, and one that is `False` in Boolean context is said to be *falsy* or *falsey*.

- The *truthiness* of an object of Boolean type is self-evident
- Boolean objects that are equal to `True` are truthy (true), and those equal to `False` are falsy (false).
But non-Boolean objects can be evaluated in Boolean context as well and determined to be true or false.

In [2]:
print(type(True))

<class 'bool'>

In [3]:
print(type(False))

<class 'bool'>

In [4]:
2+2

4

In [5]:
0/8

0.0

## 2. Strings

A `string` is an `ordered sequence of characters`.

- We can use single quotes or double quotes to represent strings. Multi-line strings can be represented using triple quotes, ”' or “””.
- Strings are immutable which means once we declare a string we can't update the already declared string.

In [6]:
Single = 'Hey, Welcome to Python Tutorial.'
Multi = '''Python is an interpreted high-level programming language 
for general-purpose programming. Created by Guido van Rossum and first released in 1991.'''

In [7]:
Multi

'Python is an interpreted high-level programming language \nfor general-purpose programming. Created by Guido van Rossum and first released in 1991.'

In [8]:
# `Concatenation`: It means the operation of joining two strings together.

Single + Multi

'Hey, Welcome to Python Tutorial.Python is an interpreted high-level programming language \nfor general-purpose programming. Created by Guido van Rossum and first released in 1991.'

In [9]:
# Repetition: It means repeating a sequence of instructions a certain number of times.

Single * 2

'Hey, Welcome to Python Tutorial.Hey, Welcome to Python Tutorial.'

In [10]:
# Slicing: Slicing is a technique for extracting parts of a string.
# Note: In Python, index starts from 0.
         
Multi[0:5]

'Pytho'

In [11]:
# Python also supports negative index.

Multi[-1]

'.'

# As Strings are immutable in Python, if we try to update the string, then it will generate an error.

Multi[7]= "an"

In [12]:
print("This string contains a single quote (') character.")

This string contains a single quote (') character.

### Escape Sequences in Strings

Use a backslash (`\`) character for `Suppressing Special Character Meaning` or `Applying Special Meaning to Characters`

- A backslash character in a string indicates that one or more characters that follow it should be treated specially. 
- This is referred to as an escape sequence, because the backslash causes the subsequent character sequence to “escape” its usual meaning.

Below is the table of escape sequences which cause Python to suppress the usual special interpretation of a character in a string.

|Escape Sequence|	Usual Interpretation of Character(s) After Backslash|	“Escaped” Interpretation|
|---------------|-------------------------------------------------------|---------------------------|
|\'|	|Terminates string with single quote opening delimiter|	Literal single quote (') character|
|\"	|Terminates string with double quote opening delimiter	|Literal double quote (") character|
|\newline|	Terminates input line	|Newline is ignored|
|\\	|Introduces escape sequence	|Literal backslash (\) character|

In [13]:
print('This string contains a single quote (\') character.')

This string contains a single quote (') character.

In [14]:
print('a\
b\
c')

abc

In [15]:
print('foo\tbar')

foo	bar

In [16]:
print('foo\\bar')

foo\bar

In [17]:
print("a\tb")
print("a\141\x61")
print("a\nb")
print('\u2192 \N{rightwards arrow}')

a	b
aaa
a
b
→ →

### Raw Strings

A raw string literal is preceded by `r` or `R`, which specifies that escape sequences in the associated string are not translated. The backslash character is left in the string:

In [18]:
print('foo\nbar')
print(r'foo\nbar')
print('foo\\bar')
print(R'foo\bar')

foo
bar
foo\nbar
foo\bar
foo\bar

## 3. List

- A list can contain a series of values.
- List variables are declared by using brackets [ ]
- A list is mutable, which means we can modify the list.
- Lists are allocated in two blocks: the fixed one with all the Python object information and a variable sized block for the data.

In [19]:
my_list = [2,4,5.5,"Hi"]
print(my_list[3])

print(len(my_list))

Hi
4

In [20]:
# Slicing
# list[start:stop:step]


my_list[0:2]

[2, 4]

In [21]:
# Update:

my_list[3] = "Hello"
print(my_list)

[2, 4, 5.5, 'Hello']

In [22]:
# Append:

my_list.append("Pythonista")
print(my_list)

[2, 4, 5.5, 'Hello', 'Pythonista']

In [23]:
# Extend:

# my_list.extend("Pythonista")
# my_list.extend(["How are you ?"])
my_list.extend(["I ", "Am good"])
print(my_list)

[2, 4, 5.5, 'Hello', 'Pythonista', 'I ', 'Am good']

In [24]:
my_list.append(["I ", "Am good"])

In [25]:
dir(my_list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

## 4. Tuple

- A tuple is a sequence of Python objects separated by commas.
- Tuples are immutable, which means tuples once created cannot be modified. 
- Tuples are defined using parentheses ().
- Tuples are stored in a single block of memory. Tuples are immutalbe so, It doesn't require extraspace to store new objects.

In [26]:
my_tuple = (50,15,25.6,"Python")
my_tuple

(50, 15, 25.6, 'Python')

my_tuple[2] = 9091

In [ ]:
my_tuple.append("hey I am a tuple element")

In [ ]:
my_tuple.extend("hey I am a tuple element")

In [27]:
my_tuple = (50, 15, 25.6, 'Python', [1,2])
print(my_tuple)

(50, 15, 25.6, 'Python', [1, 2])

In [28]:
my_tuple[4].append('Hey')

In [29]:
print(my_tuple)

(50, 15, 25.6, 'Python', [1, 2, 'Hey'])

In [30]:
dir(my_tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [31]:
my_tuple = (0, 1, 2, 3, 4, 5, 6, 6,6,9,9, 9, 10, 11, 11, 11, 11, 15, 16, 17, 18, 19)

In [32]:
my_tuple.count(6)

3

In [33]:
my_tuple.count(11)

4

In [34]:
my_tuple.index(6)

6

In [35]:
my_tuple.index(11)

13

In [36]:
len(my_tuple)

22

In [37]:
dir(my_list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [38]:
my_list = list(range(100))
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [39]:
my_list.reverse()
print(my_list)

[99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## 5. Set

- A set is an unordered collection of items. 
- Set is defined by values separated by a comma inside braces { }.

In [40]:
my_set = {100, 5, 19, 6, 5,5,5,5, 18, 18, 18, 5,1,2.6,"python"}
my_set

{1, 100, 18, 19, 2.6, 5, 6, 'python'}

In [41]:
# We can perform Union operation by Using | Operator.

A = {'a', 'c', 'd'}
B = {'c', 'd', 2 }
print('A U B =', A | B)

A U B = {'d', 2, 'a', 'c'}

In [42]:
# We can perform Intersection operation by Using & Operator.

A = {100, 7, 8}
B = {200, 4, 7}
print(A & B)

{7}

In [43]:
A.intersection(B)

{7}

In [44]:
dir(my_set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [45]:
s1 = {1,2,3,4,5,6}
s2 = set(range(4, 10))
print((s1, s2))

({1, 2, 3, 4, 5, 6}, {4, 5, 6, 7, 8, 9})

In [46]:
# Symmetric Difference

s1.symmetric_difference(s2)

{1, 2, 3, 7, 8, 9}

## 6. Dictionary

- Dictionaries are the most flexible built-in data type in python.
- Dictionaries items are stored and fetched by using the key. Dictionaries are used to store a huge amount of data.
- In Python, dictionaries are defined within braces {}.

In [47]:
nomenclature_of_numbers = {
    1:'One',
    2:'Two',
    3:'Three',
    'Four': 4
}
nomenclature_of_numbers

{1: 'One', 2: 'Two', 3: 'Three', 'Four': 4}

In [ ]:
myd = {
    [1,2]: 'list is a key'
}

In [48]:
myd2 = {
    (1,2): 'tuple is a key'
}
myd2

{(1, 2): 'tuple is a key'}

myd3 = {
    {1:'One'} : 'Dict is a key'
}
myd3

In [49]:
dir(myd2)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [50]:
myd2.clear()

In [51]:
nomenclature_of_numbers

{1: 'One', 2: 'Two', 3: 'Three', 'Four': 4}

In [ ]:
nomenclature_of_numbers["1"]

In [52]:
nomenclature_of_numbers[1]

'One'

In [53]:
print(nomenclature_of_numbers.get("1"))

None

In [54]:
print(nomenclature_of_numbers.get("1", "Key is Absent"))

Key is Absent

In [55]:
my_dict.get(key, default_value=None)

NameError: name 'my_dict' is not defined

In [ ]:
nomenclature_of_numbers.items()
# List of Tuples of dict's keys-values

In [ ]:
nomenclature_of_numbers.keys()

In [ ]:
nomenclature_of_numbers.values()

In [ ]:
nomenclature_of_numbers.pop(3)

In [ ]:
nomenclature_of_numbers

<p style="color:#AA0000;font-size:25px;"> Activity 1 : What is the value of below expression ?</p>

In [ ]:
True * 1000 - True

<p style="color:#AA0000;font-size:25px;"> Activity 2 : Predict the output ?</p>

In [ ]:
d = {
    1 : 'Yes',
    1.0 : 'No',
    True : 'May Be'
}


print(d[1.0])

In [ ]:
d[1.0] = 'Letpython3.x 1.0'
d

In [ ]:
print((hash(1), hash(1.0), hash(True)))

In [ ]:
REFERENCES:
    
1. https://realpython.com/python-data-types/
2. https://www.tutorialsteacher.com/python/python-data-types
3. https://www.softwaretestinghelp.com/python/python-data-types/